@import "_nullStyle.scss";
@import "_headerstyle.scss";
@import "_contentstyleBlock01.scss";
@import "_contentstyleBlock02.scss";
@import "_footer.scss";



@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');


body{
	background-color: #FFFFFF;
}

body._lock {
	overflow-y: hidden;
	height: 100vh;
}



.container {
	max-width: 1209px;
	padding: 0 10px;
	margin: 0 auto;
	@media (max-width: 700px) {
		
	}
}


.flexBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 900px){
		flex-wrap:wrap;
		padding: 0 20px;
	}
	@media (max-width: 600px){
		justify-content: center;
	}

}

.anim-items{
	
}


